.plan
    padding: 40px 0 16px 0
    width: 450px
    &__wrapper
        margin-top: 35px
        display: grid
        grid-template-columns: repeat(3, 138px)
        grid-template-rows: 160px 48px
        column-gap: 18px
        row-gap: 32px
    &__item
        width: 138px
        height: 160px
        border-radius: 8px
        border: 1px solid #D6D9E6
        &_active
            border-radius: 8px
            border: 1px solid #483EFF
            background: #F8F9FF
        
    &__time
        grid-column: 1/4
        width: 100%
        height: 48px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 8px
        background: #F8F9FF

            
            